@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: all .5s ease;
}

body{
    background: #525252;
    position: relative;
    overflow-x: hidden;
}

.button-container{
   position: fixed;
   top: -100px;
   left: -100px;
   z-index: 1;
}

.button.turn{
    transform: rotate(-90deg);
}

.button{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #ff7979;
    position: relative;
    transition: transform .5s linear;
    
    button{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        border: none;
        color: #fff;
        background: transparent;
        cursor: pointer;

        &:focus{
            outline: none;
        }
    }
}

button#open{
    left: 60%;    
}

button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.body{
    width: 60vw;
    max-width: 1000px;
    background: #fff;
    padding: 50px;
    transform-origin: top left;
    transition: transform 300ms ease-in;


    h1, p{
        margin-bottom: 20px;
    }

    .image{
        width: 100%;

        img{
            width: 100%;
        }
    }
}




.body.rotate{
    transform: rotate(-20deg);
}

.body.rotate + .links li{
    transform: translateX(0);
    transition-delay: .3s;
}

.links{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;

    li{
        padding: 5px;
        margin: 4px 0;
        list-style: none;
        transform: translateX(-100%);

        i{
            margin-right: 10px;
        }


        a{
            display: inline-block;
            color: yellow;
            text-decoration: none;
        }
    }
}

.links ul li + li{
    margin-left: 15px;
    transform: translateX(-150%);

}

.links ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);

}
