@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(233, 233, 233);
}

.bar{
    width: 500px;
    position: relative;
}

.bar-circles{
    display: flex;
    justify-content: space-between;
}

.bar-circles .circles{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    transition: all ease-in 300ms;
}

.circles.active{
    border: solid 5px #20a6ff;
}

.bar::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
    background: #ffffff;
    z-index: -2;
}
.bar-length{
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 4px;
    transform: translateY(-50%);
    background: #20a6ff;
    z-index: -1;
    transition: all ease-in 300ms;
}

.buttons{
    margin-top: 30px;
}

button{
    background: #20a6ff;
    padding: 10px 20px;
    font-family: inherit;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:disabled{
    background: rgb(134, 134, 134);
    cursor: not-allowed;
}
button:active{
    background-color: #09629e;
}
